@model List<University>

<div class="p-5 m-4">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white">University Management</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a asp-controller="University" asp-action="Upsert" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Add New University
                    </a>
                </div>
            </div>

            <table id="datatable" class="table table-hover table-striped table-bordered" style="width:100%">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>Rank In Kuwait</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Name</td>
                            <td>@obj.type</td>
                            <td>@obj.location</td>
                            <td>@obj.KuwaitRank</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton-@obj.Id"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@obj.Id">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Faculty" asp-action="Index" 
                                               asp-route-universityId="@obj.Id"
                                               onmouseover="this.style.backgroundColor='#5cb85e'; this.style.color='white';"
                                               onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                                <i class="fas fa-edit"></i> Faculties
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="University" asp-action="Upsert" asp-route-id="@obj.Id"
                                               onmouseover="this.style.backgroundColor='#f6a23e'; this.style.color='white';"
                                               onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                                <i class="fas fa-info-circle"></i> Update
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="University" asp-action="Delete" asp-route-id="@obj.Id"
                                               onmouseover="this.style.backgroundColor='#e74a3e'; this.style.color='white';"
                                               onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                                <i class="fas fa-trash"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/dataTable.js"></script>
}