

@* Upsert.cshtml *@
@model FacultyVM

<div class="container" style="margin-top: 6rem;">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@Model.UniversityName</h2>
            </div>
        </div>
    </div>
    <form method="post" class="bg-light p-3" asp-action="Upsert">
        <input asp-for="faculty.Id" hidden/>
        <input asp-for="faculty.UniversityId" hidden/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="faculty.StandardFacultyId" class="form-label">Standard Faculty</label>
                    <select class="form-control" asp-for="faculty.StandardFacultyId" asp-items="Model.facultyList" id="standardFacultySelect">
                        <option value="" selected>--Select Standard Faculty--</option>
                    </select>
                    <span asp-validation-for="faculty.StandardFacultyId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="faculty.Description">Overview</label>
                    <textarea asp-for="faculty.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="faculty.Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="faculty.AdmissionRequirements">Admission Requirements</label>
                    <textarea asp-for="faculty.AdmissionRequirements" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="faculty.AdmissionRequirements" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-6 col-md-3">
                @if (Model.faculty.Id == 0)
                {
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                }
            </div>
        </div>
    </form>
</div>

<div class="p-4" style="margin-top: 3rem;">
    <div class="card shadow border-0 mt-4">
        <div class="card-body" style="padding:20px">
            <table id="datatable" class="table table-hover table-striped table-bordered display" style="width:100%">
                <thead class="thead-dark text-light">
                <tr>
                    <th>Name</th>
                    <th>Overview</th>
                    <th>Admission Requirements</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.Faculties is not null)
                {
                    foreach (var obj in Model.Faculties)
                    {
                        <tr>
                            <td>@(obj.StandardFaculty?.CombinedName)</td>
                            <td>@(obj.Description?.Length > 50 ? obj.Description.Substring(0, 47) + "..." : obj.Description)</td>
                            <td>@(obj.AdmissionRequirements?.Length > 50 ? obj.AdmissionRequirements.Substring(0, 47) + "..." : obj.AdmissionRequirements)</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton-@obj.Id"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@obj.Id">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Major" asp-action="Index" 
                                               asp-route-facultyId="@obj.Id" asp-route-standardFactId="@obj.StandardFacultyId"
                                               asp-route-uniId="@obj.UniversityId"
                                               onmouseover="this.style.backgroundColor='#5cb85e'; this.style.color='white';"
                                               onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                                <i class="fas fa-edit"></i> Majors
                                            </a>
                                        </li>
                                        <li>
                                                <a class="dropdown-item" asp-controller="Faculty" asp-action="Upsert" asp-route-id="@obj.Id"
                                               onmouseover="this.style.backgroundColor='#f6a23e'; this.style.color='white';"
                                               onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                                <i class="fas fa-info-circle"></i> Update
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Faculty" asp-action="Delete" asp-route-id="@obj.Id"
                                               onmouseover="this.style.backgroundColor='#e74a3e'; this.style.color='white';"
                                               onmouseout="this.style.backgroundColor=''; this.style.color='';">
                                                <i class="fas fa-trash"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                           
                            
                            @*
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Faculty" asp-action="Index" asp-route-id="@obj.Id" asp-route-universityId="@obj.UniversityId" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a asp-controller="Faculty" asp-action="Delete" asp-route-id="@obj.Id" asp-route-uniId="@obj.UniversityId" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>
                        *@
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <a asp-controller="University" asp-action="Index" class="btn btn-outline-primary form-control mt-3">Back To List</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/dataTable.js"></script>
    <script src="~/js/GetMajors.js"></script>
    <script src="~/js/Delete.js"></script>
    <partial name="_ValidationScriptsPartial"/>
}